In [40]:
import pandas as pd

In [41]:
data = pd.read_csv("/Users/paulmathai/python-virtual-enviorments/CSE4020/LAB/LAB3/data_lr.csv")

In [42]:
data.shape

(10, 3)

In [43]:
data.head()

   Funds  Rating  Result
0  0.236   0.302       1
1  0.260   0.270       1
2  0.162   0.305       1
3  0.376   0.337       1
4  0.308   0.362       1

In [44]:
data.describe()

           Funds     Rating     Result
count  10.000000  10.000000  10.000000
mean    0.249400   0.252800   0.700000
std     0.088268   0.091995   0.483046
min     0.100000   0.102000   0.000000
25%     0.180500   0.197500   0.250000
50%     0.260000   0.286000   1.000000
75%     0.298500   0.308750   1.000000
max     0.376000   0.362000   1.000000

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Funds     10 non-null float64
Rating    10 non-null float64
Result    10 non-null int64
dtypes: float64(2), int64(1)
memory usage: 320.0 bytes

In [46]:
dum = pd.get_dummies(data.Rating, prefix='Rating')
dum.head()

,Rating_0.102,Rating_0.11,Rating_0.18,Rating_0.25,Rating_0.27,Rating_0.302,Rating_0.305,Rating_0.31,Rating_0.337,Rating_0.36200000000000004
0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1

In [47]:
data = data.join(dum)

In [48]:
data.drop(['Rating'], axis = 1, inplace=True)

In [50]:
data.head()

,Funds,Result,Rating_0.102,Rating_0.11,Rating_0.18,Rating_0.25,Rating_0.27,Rating_0.302,Rating_0.305,Rating_0.31,Rating_0.337,Rating_0.36200000000000004
0,0.236,1,0,0,0,0,0,1,0,0,0,0
1,0.260,1,0,0,0,0,1,0,0,0,0,0
2,0.162,1,0,0,0,0,0,0,1,0,0,0
3,0.376,1,0,0,0,0,0,0,0,0,1,0
4,0.308,1,0,0,0,0,0,0,0,0,0,1

In [51]:
y = data.Result.copy()

In [52]:
X = data.drop(['Result'], axis=1)

In [53]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
Funds                         10 non-null float64
Rating_0.102                  10 non-null uint8
Rating_0.11                   10 non-null uint8
Rating_0.18                   10 non-null uint8
Rating_0.25                   10 non-null uint8
Rating_0.27                   10 non-null uint8
Rating_0.302                  10 non-null uint8
Rating_0.305                  10 non-null uint8
Rating_0.31                   10 non-null uint8
Rating_0.337                  10 non-null uint8
Rating_0.36200000000000004    10 non-null uint8
dtypes: float64(1), uint8(10)
memory usage: 260.0 bytes

In [54]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.1, random_state=7)

In [65]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [66]:
model.fit(X_train, y_train)

/Users/paulmathai/.virtualenvs/keras_tf/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [67]:
model.score(X_train, y_train)

1.0

In [68]:
model.score(X_valid, y_valid)

1.0

In [69]:
model.intercept_

array([0.40732263])

In [70]:
model.coef_

array([[ 0.24684993, -0.494301  , -0.48640421, -0.48946375,  0.31285119,
         0.31328809,  0.31433778,  0.31758415,  0.        ,  0.30823693,
         0.31119345]])

In [71]:
data.corr()

,Funds,Result,Rating_0.102,Rating_0.11,Rating_0.18,Rating_0.25,Rating_0.27,Rating_0.302,Rating_0.305,Rating_0.31,Rating_0.337,Rating_0.36200000000000004
Funds,1.000000,0.589469,0.042195,-0.594713,-0.347911,0.082002,0.042195,-0.053341,-0.347911,0.440262,0.503953,0.233267
Result,0.589469,1.000000,-0.509175,-0.509175,-0.509175,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218,0.218218
Rating_0.102,0.042195,-0.509175,1.000000,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111
Rating_0.11,-0.594713,-0.509175,-0.111111,1.000000,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111
Rating_0.18,-0.347911,-0.509175,-0.111111,-0.111111,1.000000,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111
Rating_0.25,0.082002,0.218218,-0.111111,-0.111111,-0.111111,1.000000,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111
Rating_0.27,0.042195,0.218218,-0.111111,-0.111111,-0.111111,-0.111111,1.000000,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111
Rating_0.302,-0.053341,0.218218,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,1.000000,-0.111111,-0.111111,-0.111111,-0.111111
Rating_0.305,-0.347911,0.218218,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,1.000000,-0.111111,-0.111111,-0.111111
Rating_0.31,0.440262,0.218218,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,1.000000,-0.111111,-0.111111
Rating_0.337,0.503953,0.218218,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,1.000000,-0.111111
Rating_0.36200000000000004,0.233267,0.218218,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,-0.111111,1.000000

In [63]:
model.score

<bound method ClassifierMixin.score of LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)>

In [39]:
model.score(X_train, y_train)

0.75